.navbarContainer{
    height: 70px;
    background-color: black;
    color: white;

    ul{
        display: flex;
        justify-content: right;
        align-items: center;
        text-align: center;
        line-height: 70px;
        text-decoration: none;
        list-style-type: none;

        li{
            list-style-type: none;
            margin-right: 25px;
            color: white;
            text-decoration: none;
           
        }

    }
}